---
layout: archive
title: "Clases UCR"
permalink: /ucr/
author_profile: true
---

<!--<iframe src="/ucr/clases_ucr.html" height="700" width="850" style="border:none;"></iframe>-->

<!--{% include base_path %}-->


<!--{% for post in site.ucr %}-->
<!--  {% include archive-single.html %}-->
<!--{% endfor %}-->

<!--<!DOCTYPE html>-->
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>reveal-md</title>
  <link rel="stylesheet" href="https://rawgit.com/puzzle/pitc-revealjs-theme/master/theme/puzzle.css" id="theme" />
</head>

<body>
<ul>
  <li>
    <a href="/ucr/arcoslab-humanoid.html" title="">
      arcoslab-humanoid.html
    </a>
  </li>
  <li>
    <a href="clase1-mecatronica-u01-introduccion.html" title="">
      clase1-mecatronica-u01-introduccion.html
    </a>
  </li>
  <li>
    <a href="clase2-mecatronica-u02-sensores.html" title="">
      clase2-mecatronica-u02-sensores.html
    </a>
  </li>
  <li>
    <a href="clase3-mecatronica-u02-actuadores.html" title="">
      clase3-mecatronica-u02-actuadores.html
    </a>
  </li>
  <li>
    <a href="clase4-mecatronica-u03-sistemas-de-control.html" title="">
      clase4-mecatronica-u03-sistemas-de-control.html
    </a>
  </li>
  <li>
    <a href="clase5_electronica_u3_amp_op.html" title="">
      clase5_electronica_u3_amp_op.html
    </a>
  </li>
  <li>
    <a href="clase5_mecatronica_u04_adquisicion_de_datos.html" title="">
      clase5_mecatronica_u04_adquisicion_de_datos.html
    </a>
  </li>
  <li>
    <a href="clase6-555.html" title="">
      clase6-555.html
    </a>
  </li>
  <li>
    <a href="clase7_electronica_u5_transistores_potencia.html" title="">
      clase7_electronica_u5_transistores_potencia.html
    </a>
  </li>
  <li>
    <a href="clase8_electronica_u6_digitales.html" title="">
      clase8_electronica_u6_digitales.html
    </a>
  </li>
  <li>
    <a href="masters_state_of_art.html" title="">
      masters_state_of_art.html
    </a>
  </li>
</ul>
</body>
</html>
