---
layout: archive
title: "Mechanical Engineering Lectures"
permalink: /ucr/
author_profile: true
---

<!--<iframe src="/ucr/clases_ucr.html" height="700" width="850" style="border:none;"></iframe>-->

<!--{% include base_path %}


{% for post in site.ucr %}
  {% include archive-single.html %}
{% endfor %}-->

<!--<!DOCTYPE html>-->
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>reveal-md</title>
  <link rel="stylesheet" href="https://rawgit.com/puzzle/pitc-revealjs-theme/master/theme/puzzle.css" id="theme" />
</head>

<body>
<ul>
<!--  <li>-->
<!--    <a href="arcoslab-humanoid.html" title="">-->
<!--      arcoslab-humanoid.html-->
<!--    </a>-->
<!--  </li>-->

  <p>These are my lectures (spanish) for the courses I teach at the University of Costa Rica </p>
  <h1>Mecatrónica IM0501 (Mechatronics)</h1>
  <li>
    <a href="clase1-mecatronica-u01-introduccion.html" title="Unidad 1 Introducción">
      Unidad 1 Introducción al curso
    </a>
  </li>
  <li>
    <a href="clase02-mecatronica-u01-enfoque_mecatronico.html" title="Unidad 1 Enfoque mecatrónico">
      Unidad 1 Enfoque Mecatrónico
    </a>
  </li>
  <li>
    <a href="clase2-mecatronica-u02-sensores.html" title="Unidad 1 Sensores y actuadores">
      Unidad 2.1 Sensores
    </a>
  </li>
<li>
    <a href="clase3-mecatronica-u02-actuadores.html" title="">
      Unidad 2.2 Actuadores
    </a>
  </li>
<li>
    <a href="clase4-mecatronica-u03-sistemas-de-control.html" title="">
      Unidad 3 Sistemas de Control | </a>        <a  href="../files/clase4-mecatronica-sistemas-de-control.pdf" download="clase4-mecatronica-sistemas-de-control.pdf">    Download the pdf
    </a>
</li>
    <li>
        <a href="clase_mecatronica_metodologia_kano_priorizacion.html" title="">
            Metodología de prización Kano | </a>
    </li>


<!--  <li>-->
<!--  <a href="../files/clase4-mecatronica-sistemas-de-control.pdf" download="clase4-mecatronica-sistemas-de-control.pdf">Download the pdf</a>-->
<!--  </li>-->



  <!--   <li>
   <a href="clase5_mecatronica_u04_adquisicion_de_datos.html" title="">
     Unidad 4 Adquisición de Datos
   </a>
 </li>&ndash;&gt;-->
  <h1>Electrónica Básica para Ing. Mecánica IM0412 (Basic Electronics)</h1>
  <li>
    <a href="clase_01_electronica_intro_semiconductores.html" title="">
      Unidad 1 Introducción a Materiales Semiconductores
    </a>
  </li>
  <li>
    <a href="clase2_electronica_unidad02_diodos.html" title="">
      Unidad 2.1 Diodos
    </a>
  </li>
<li>
     <a href="clase3_electronica_unidad2_bjt.html" title="">
       Unidad 2.2 Transistor de Unión Bipolar (BJT)
     </a>
   </li>
   <li>
       <a href="clase4_electronica_unidad3_polarizacionbjt.html" title="">
          Unidad 3.1 Polarización del BJT
        </a>
      </li>
    <li>
        <a href="clase5_electronica_u3_amp_op.html" title="">
            Unidad 3.2 Amplificadores Operacionales | </a>        <a  href="../files/clase5_electronica_u3_amp_op.pdf" download="clase5_electronica_u3_amp_op.pdf">    Download the pdf
    </a>
    </li>
<a href="clase6_electronica_u4_osciladores.html" title="">
Unidad 4 Circuitos Osciladores
</a> <a  href="../files/clase6_electronica_u4_osciladores.pdf" download="clase6_electronica_u4_osciladores.pdf">    Download the pdf
</li>
 <li>
<a href="clase7_electronica_u5_transistores_potencia.html" title="">
Unidad 5 Transistores de Potencia
</a>
</li>
<li>
    <!--<a href="clase8_electronica_u6_digitales.html" title="">
Unidad 6 Electrónica Digital
</a>
</li>
<li>
<a href="clase9_electronica_u7_compuertas_logicas.html" title="">
Unidad 7 Compuertas Lógicas
</a>
</li>
<li>
<a href="clase10_electronica_u8_automatizacion.html" title="">
Unidad 8 Automatizacion
</a>
</li>-->
  <h1>Dibujo II IM0203 (Technical Drawing II)</h1>
  <li>
    <a href="clase00_dibujo2_temas_relacionados_al_dibujo.html" title="">
      Temas relacionados al dibujo en ingeniería
    </a>
  </li>
  <li>
    <a href="clase01_dibujo2_ensambles.html" title="">
      Ensambles mecanicos
    </a>
  </li>
  <li>
    <a href="https://docs.google.com/presentation/d/1KbQyZgL__3x0AFNSf3XBPZV5PoQkJKTI6TrnCqrYcXA/edit?usp=sharing" title="">
      Tornillos
    </a>
</li>
<li>
    <a href="https://docs.google  .com/presentation/d/1DTJ_8SbA1tRVxt7HUfPwayPuz4T1P_mF-luyHvNeuHc/edit?usp=sharing" title="">
      Engranes y acabado superficial
    </a>
</li>
  <li>
    <a href="https://docs.google.com/presentation/d/1YLIexzwznIRLLijdv5o_IjYS30osYG-31O-tkWiASNI/edit?usp=sharing" title="">
      Medicion con Vernier
    </a>
  </li>
<!--  <li>-->
<!--    <a href="masters_state_of_art.html" title="">-->
<!--      masters_state_of_art.html-->
<!--    </a>-->
<!--  </li>-->
</ul>
</body>
</html>
